.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: blueviolet;
}

/* .blocks {
  display: flex;
  justify-content: center;
} */

p {
  border: solid 2px;
  margin: 9%;
  padding: 10%;
  border-radius: 10px;
}

.input {
  align-items: center;
}


button {
  padding: 5px;
  width: 80%;
  margin: 30px;
  border-radius: 8px;
}